<!DOCTYPE html>
<html lang="en">

<head>
    <script type="text/javascript"
        src="https://bam.nr-data.net/1/e7fb1b89a0?a=32830342&amp;v=1158.afc605b&amp;to=ZwZaYkJVDERXUxULCV5Me0NDQA1aGWsmJzJtQ39XXFgHRV9VElhcWQ1cU0g%3D&amp;rst=13711&amp;ref=https://www.behance.net/&amp;ap=472&amp;be=772&amp;fe=13678&amp;dc=2604&amp;af=err,xhr,stn,ins,spa&amp;perf=%7B%22timing%22:%7B%22of%22:1577195072832,%22n%22:0,%22u%22:723,%22ue%22:723,%22f%22:8,%22dn%22:8,%22dne%22:8,%22c%22:8,%22ce%22:8,%22rq%22:16,%22rp%22:703,%22rpe%22:916,%22dl%22:731,%22di%22:2050,%22ds%22:2604,%22de%22:2672,%22dc%22:13675,%22l%22:13676,%22le%22:13689%7D,%22navigation%22:%7B%22ty%22:1%7D%7D&amp;fp=1869&amp;fcp=1869&amp;at=S0FNFApPHxsUUUNYHU0e&amp;jsonp=NREUM.setToken"></script>
    <script src="https://js-agent.newrelic.com/nr-spa-1158.min.js"></script>
    <script type="text/javascript" async="async"
        src="https://sstats.adobe.com/id?d_visid_ver=1.5.4&amp;callback=s_c_il%5B0%5D._setAnalyticsFields&amp;mcorgid=9E1005A551ED61CA0A490D45%40AdobeOrg&amp;mid=48302727781996880017316652009119310112"></script>
    <script type="text/javascript" async="async"
        src="https://dpm.demdex.net/id?d_visid_ver=1.5.4&amp;d_rtbd=json&amp;d_ver=2&amp;d_verify=1&amp;d_orgid=9E1005A551ED61CA0A490D45%40AdobeOrg&amp;d_nsid=0&amp;d_cb=s_c_il%5B0%5D._setMarketingCloudFields"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta charset="utf-8">
    <script async=""
        src="//assets.adobedtm.com/659ec8ada5450db95675e43beaaae92399591a11/satelliteLib-2b43738638f531ea196940466fee2fa1d507608c.js"></script>
    <script async=""
        src="//wwwimages2.adobe.com/etc/beagle/public/globalnav/privacy-files/sitenotice/414/translations/en.js"
        charset="utf-8"></script>
    <script async=""
        src="https://wwwimages2.adobe.com/etc/beagle/public/globalnav/adobe-privacy/latest/privacy.min.js"></script>
    <script async=""
        src="https://static.adobelogin.com/imslib/imslib.min.js?client_id=BehanceWebSusi1&amp;locale=en_US"></script>
    
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="cache-control" content="no-cache">

    <meta name="language" content="english">
    <meta name="distribution" content="global">
    <meta name="author" content="Behance">
    <meta name="publisher" content="Behance">
    <meta name="copyright" content="2019 Behance">
    <meta name="p:domain_verify" content="d7cdd4d26570133b3ce3a1e3c095b3a4">
    <meta name="fb:app_id" content="229702757350">
    <meta name="twitter:widgets:csp" content="on">


    <meta name="viewport"
        content="width=device-width, initial-scale=0.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <meta name="apple-itunes-app" content="app-id=489667151">
    <link rel="stylesheet" href="">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/behance/vorr">
    <link rel="preload"
        href="https://a5.behance.net/55b0b20d35b5429edf618e2c7ea534ac4eb959eb/fonts/AcuminPro/acumin.woff2" as="font"
        type="font/woff2" crossorigin="anonymous">
    <link rel="preload"
        href="https://a5.behance.net/55b0b20d35b5429edf618e2c7ea534ac4eb959eb/fonts/AcuminPro/acumin-semibold.woff2"
        as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload"
        href="https://a5.behance.net/55b0b20d35b5429edf618e2c7ea534ac4eb959eb/fonts/AcuminPro/acumin-bold.woff2"
        as="font" type="font/woff2" crossorigin="anonymous">


    <meta name="description" content="Projects featured today by our curators">
    <meta name="keywords"
        content="online portfolio, online portfolio site, creative professional platform, creative network, creative community, creative talent">
    <meta name="revisit-after" content="2 days">
    <meta name="robots" content="index, follow">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image"
        content="https://mir-s3-cdn-cf.behance.net/projects/max_808/60716f88492253.Y3JvcCw4MDgsNjMyLDAsMA.jpg">
    <meta name="twitter:site" content="@behance">
    <meta name="twitter:title" content="Best of Behance">
    <meta name="twitter:description" content="Projects featured today by our curators">
    <meta property="og:image"
        content="https://mir-s3-cdn-cf.behance.net/projects/max_808/60716f88492253.Y3JvcCw4MDgsNjMyLDAsMA.jpg">
    <meta property="og:title" content="Best of Behance">
    <meta property="og:description" content="Projects featured today by our curators">

    <link rel="shortcut icon"
        href="https://a5.behance.net/55b0b20d35b5429edf618e2c7ea534ac4eb959eb/img/site/favicon.ico?cb=264615658">
    <link rel="apple-touch-icon"
        href="https://a5.behance.net/55b0b20d35b5429edf618e2c7ea534ac4eb959eb/img/site/apple-touch-icon.png?cb=264615658">

    <title>Behance :: Best of Behance</title>

    <link rel="preconnect" href="https://mir-cdn.behance.net">
    <link rel="preconnect" href="https://mir-s3-cdn-cf.behance.net">
    <link rel="preconnect" href="https://c.evidon.com">
    <link rel="canonical" href="https://www.behance.net">
    <link rel="stylesheet"
        href="https://a5.behance.net/55b0b20d35b5429edf618e2c7ea534ac4eb959eb/css/networki.css?cb=264615658"
        type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<body>
    <nav class="rf-primary-nav rf-primary-nav--main js-nav-primary"> <a href="/" class="rf-primary-nav__behance-logo">
            <!-- LOGO HERE -->
            </svg> </a>
        <ul class="rf-primary-nav__menu js-main-nav">
            <li class="rf-primary-nav__item"> <a class="rf-primary-nav__link  qa-nav-discover active" href="/galleries">
                    Discover</a> </li>
            <li class="rf-primary-nav__item"> <a class="rf-primary-nav__link  qa-nav-discover active" href="/live"> Registration</a> </li>
            <li class="rf-primary-nav__item"> <a class="rf-primary-nav__link  qa-nav-discover active" href="/joblist"> About me</a> </li>
            <li class="rf-primary-nav__item rf-primary-nav__item--signup">
                <div
                    class="form-item form-item-a js-rf-button-container rf-button__container rf-primary-nav__signup-button--large form-button-wrap">
                    <a class="form-button js-rf-button rf-button js-adobeid-signup"
                    href="#" 
                        data-signup-from="Discover_BlueButton_SignUp_Header_B" unselectable="on" tabindex="0"><span
                            class=" rf-button__icon-container rf-button__icon-container--leading"></span><span
                            class="rf-button__label">Register Now</span><span
                            class="rf-button__icon-container rf-button__icon-container--trailing"></span></a> </div>
                <span class="hide-phone hide-tablet or">Contact me</span>
                <!-- Social network logos -->
                <a href=""><img src="{{url_for('static', filename='images/social_logos/instagram.png')}}" alt="instagram logo" height="32" width="32"></a>
                <pre class="tab"></pre>
                <a href=""><img src="{{url_for('static', filename='images/social_logos/facebook.png')}}" alt="facebook logo" height="32" width="32"></a>
                <pre class="tab"></pre>
                <a href=""><img src="{{url_for('static', filename='images/social_logos/linkedin.svg')}}" alt="Linkedin Logo" height="32" width="32"></a>

                                
        </ul>
        <ul class="rf-primary-nav__actions">
            <li class="rf-primary-nav__item"> <a class="rf-primary-nav__link rf-tooltip--container qa-nav-search"
                    href="/search"> <svg class="rf-icon rf-icon--search" xmlns="http://www.w3.org/2000/svg"
                        viewBox="5605.991 836 16.958 16.95">
                        <path data-name="Path 150"
                            d="M5612.5 836a6.493 6.493 0 0 1 5.29 10.27l4.88 4.88a1.076 1.076 0 0 1-1.52 1.52l-4.88-4.88a6.5 6.5 0 1 1-3.77-11.79zm0 11a4.5 4.5 0 1 0-4.5-4.5 4.5 4.5 0 0 0 4.5 4.5z">
                        </path>
                    </svg>
                    <div class="rf-tooltip--main "> Search and Filter

                    </div>
                </a> </li>
            <li class="rf-primary-nav__item"> <a class="rf-primary-nav__link js-adobeid-signin qa-adobeid-signin"
                    href="" data-signin-from="Header">Sign In</a> </li>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-info" role="alert">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                    {% endwith %}
           
    </nav>
    {% block content%}{% endblock %}
    

</body>

</html>